.add-password {
    position: fixed;
    bottom: 1rem;
    right: 1rem;

    width: fit-content;
    height: fit-content;

    button {
        border: none;
        background: transparent;

        width: 7rem;

        img {
            width: 100%;

            cursor: pointer;
        }
    }
}
