.password {
    width: fit-content;
    height: fit-content;

    margin: 0 auto;

    cursor: pointer;

    text-align: center;

    h1 {
        display: inline-block;

        margin: .1rem;

        &:not(&:last-child) {
            margin-right: 1rem;
        }
    }
}

.password-card {
    width: fit-content;
    height: fit-content;

    float: right;

    margin: 50% 0;
    transform: translateY(-50%);
}
